        @import "tailwindcss";
        
        html {
            scroll-behavior: smooth;
        }

        body {

            font-family: "Courier Prime", serif;
        }

        nav {
            font-family: 'Roboto Condensed', sans-serif;
        }

        h1,
        h3 {
            font-family: 'Bebas Neue', sans-serif;
            letter-spacing: 3px;
        }

        h2 {
            text-decoration: underline;
            text-underline-offset: 10px;
        }

        .typed-cursor {
            opacity: 1;
            animation: blink 0.7s infinite;
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .parallax {
            /* The image used */
            background-image: linear-gradient(to right bottom, #39114c, #2b1648, #1e1841, #151939, #0f1830, #161831, #1c1932, #221932, #381837, #4f1533, #611429, #6d1c18);
            /* Full height */
            height: 100%;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .progress-link {
            position: relative;
            overflow: hidden;
        }

        .progress-link::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #ffffff60;
            animation: fillProgress 4s linear forwards;
            /* Changed to animation */
            z-index: -1;
        }

        @keyframes fillProgress {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }

